addr: 0.0.0.0
port: 8888
rpcPort: 9999
isMonitor: true

log:
  path: ./logs/fly.log
  encoder: console

mysql:
  write:
    addr:
    port: 3306
    user: root
    pwd: root
    name: fly
    maxIdleCoon: 50
    maxOpenCoon: 500

redis:
  addr:
  pwd:
  addrList:

mq:
  addr:
  port: 5672
  user: admin
  pwd: admin

email:
  website: https://blog.csdn.net/ywdhzxf
  user:
  nickName: "fly"
  pwd: ""
  logo: "https://profile.csdnimg.cn/8/9/2/3_ywdhzxf"

clickhouse:
  host:
  port: 8123
  database: fly
  user: root
  pwd: root